extends layout

block layout-content
    meta(name='viewport', content='width=device-width, initial-scale=1')
    div.View.WelcomeView
      h1.Banner COVID-19 PH CASES MONITORING
      div.Message
        div.Title
          h1 GET UPDATED
        span.Details Get the Latest Information About Covid-19 in the Philippines
      div.Message
        div.Title
          h1 PANDEMIC PROGRESSION
        span.Details View Number of Cases, Deaths, and Recovered within the Philippines
      div.NavButtons
        a(href="/home")
          div.NavButton View 