doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title PHCT
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='robots' content='all,follow')
  // Bootstrap CSS
  link(rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css')
  // Font Awesome CSS
  link(rel='stylesheet' href='vendor/font-awesome/css/font-awesome.min.css')
  // Custom Font Icons CSS
  link(rel='stylesheet' href='css/font.css')
  // Google fonts - Muli
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli:300,400,700')
  // theme stylesheet
  link#theme-stylesheet(rel='stylesheet' href='css/style.blue.css')
  // Custom stylesheet - for your changes
  link(rel='stylesheet' href='css/custom.css')
  // Favicon
  link(rel='shortcut icon' href='img/icon.png')
  // Tweaks for older IEs
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
header.header
  nav.navbar.navbar-expand-lg
    .container-fluid.d-flex.align-items-center.justify-content-between
      .navbar-header
        // Navbar Header
        a.navbar-brand(href='home')
          .brand-text.brand-big.visible.text-uppercase
            strong.text-primary PH
            strong Covid19
            strong.text-primary Tracker
          .brand-text.brand-sm
            strong.text-primary PH
            strong C
            strong.text-primary T
        // Sidebar Toggle Btn
        button.sidebar-toggle
          i.fa.fa-long-arrow-left
.d-flex.align-items-stretch
  // Sidebar Navigation
  nav#sidebar
    // Sidebar Navidation Menus
    ul.list-unstyled
      li
        a(href='home')
          i.icon-home
          | Home
      li.active
        a(href='tables')
          i.icon-grid
          | Tabular Data
      li
        a(href='aboutus')
          i.icon-settings
          | About Us
  .page-content
    .container-fluid
      ul.breadcrumb
    section.no-padding-top
      .container-fluid
        .row
        .col-lg-12
          .block
            .title
              strong.text-primary Daily COVID-19 PH Case Reports
            .table-responsive
              table.table.table-striped.table-sm
                thead
                  tr
                    th.dashtext-2(style="width:25%; text-align:center") Date
                    th.dashtext-2(style="width:25%; text-align:center") Positive Cases Count
                    th.dashtext-2(style="width:25%; text-align:center") Death Count
                    th.dashtext-2(style="width:25%; text-align:center") Recovery Count
                tbody
                  each item in info
                    tr
                      td.text-primary(style="text-align:center")=item.datelog
                      td.text-primary(style="text-align:center")=item.pcaseph
                      td.text-primary(style="text-align:center")=item.dcaseph
                      td.text-primary(style="text-align:center")=item.rcaseph
    footer.footer
      .footer__block.block.no-margin-bottom
        .container-fluid.text-center
          p.no-margin-bottom
            | 2020 &copy; AMNA
// JavaScript files
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/popper.js/umd/popper.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='vendor/jquery.cookie/jquery.cookie.js')
script(src='vendor/chart.js/Chart.min.js')
script(src='vendor/jquery-validation/jquery.validate.min.js')
script(src='js/front.js')
